In [59]:
from datetime import datetime
import pandas as pd

In [38]:
results_df = pd.read_csv('result.csv')
consoles_df = pd.read_csv('consoles.csv')

In [39]:
results_df.head()

   metascore                name console userscore          date
0         97  Grand Theft Auto V     PS3       8.3  Sep 17, 2013
1         97  Grand Theft Auto V    X360       8.3  Sep 17, 2013
2         95      The Last of Us     PS3       9.2  Jun 14, 2013
3         94   BioShock Infinite     PS3       8.5  Mar 26, 2013
4         94   BioShock Infinite      PC       8.6  Mar 25, 2013

In [40]:
consoles_df.head()

  console   company
0     3DS  Nintendo
1      DC      Sega
2      DS  Nintendo
3     GBA  Nintendo
4      GC  Nintendo

In [41]:
results_df.describe()

          metascore
count  15647.000000
mean      70.012207
std       12.633671
min       11.000000
25%       63.000000
50%       72.000000
75%       79.000000
max       98.000000

In [42]:
consoles_df.describe()

       console   company
count       19        19
unique      19         5
top       X360  Nintendo
freq         1         8

In [43]:
results_ds = results_df['console']
results_ds.to_frame().drop_duplicates().merge(consoles_df,how='left',on='console')

   console    company
0      PS3       Sony
1     X360  Microsoft
2       PC         PC
3     WIIU   Nintendo
4      3DS   Nintendo
5      PS4       Sony
6     VITA       Sony
7     XONE  Microsoft
8   Switch   Nintendo
9      WII   Nintendo
10      DS   Nintendo
11     PSP       Sony
12     PS2       Sony
13    XBOX  Microsoft
14     GBA   Nintendo
15     N64   Nintendo
16      DC       Sega
17      GC   Nintendo
18      PS       Sony
19      PC        NaN
20    VITA        NaN

In [44]:
results_ds = results_df['console'].apply(lambda x: x.strip())
results_ds.to_frame().drop_duplicates().merge(consoles_df,how='left',on='console')

   console    company
0      PS3       Sony
1     X360  Microsoft
2       PC         PC
3     WIIU   Nintendo
4      3DS   Nintendo
5      PS4       Sony
6     VITA       Sony
7     XONE  Microsoft
8   Switch   Nintendo
9      WII   Nintendo
10      DS   Nintendo
11     PSP       Sony
12     PS2       Sony
13    XBOX  Microsoft
14     GBA   Nintendo
15     N64   Nintendo
16      DC       Sega
17      GC   Nintendo
18      PS       Sony

In [100]:
results_df = results_df.merge(consoles_df,how='left', on='console')

## Now that we have all data un 1 table the process to 3NF form  starts

In [101]:
results_df.head()

   metascore                   name console userscore        date    company
0         98  Red Dead Redemption 2    XONE       5.9  2018-10-26  Microsoft
1         97  Red Dead Redemption 2     PS4       7.7  2018-10-26       Sony
2         94             God of War     PS4       9.2  2018-04-20       Sony
3         94                Celeste    XONE       6.4  2018-01-26  Microsoft
4         93              Undertale  Switch       8.1  2018-09-18   Nintendo

In [47]:
metacritic_score_df = results_df[['name','console','metascore','userscore']].copy()

In [48]:
game_df = results_df[['date','name','console']].copy()

In [49]:
consoles_df.head(50)

   console    company
0      3DS   Nintendo
1       DC       Sega
2       DS   Nintendo
3      GBA   Nintendo
4       GC   Nintendo
5      N64   Nintendo
6       PC         PC
7       PS       Sony
8      PS2       Sony
9      PS3       Sony
10     PS4       Sony
11     PSP       Sony
12  Switch   Nintendo
13    VITA       Sony
14     WII   Nintendo
15    WIIU   Nintendo
16    X360  Microsoft
17    XBOX  Microsoft
18    XONE  Microsoft

In [50]:
results_df['console']=results_df['console'].apply(lambda x: x.strip())

In [51]:
results_df['console'].drop_duplicates()

0          PS3
1         X360
4           PC
6         WIIU
7          3DS
12         PS4
20        VITA
23        XONE
204     Switch
257        WII
384         DS
386        PSP
1000       PS2
1002      XBOX
1005       GBA
1009       N64
1010        DC
1014        GC
1026        PS
Name: console, dtype: object

In [52]:
results_df['date'].drop_duplicates()

0        Sep 17, 2013
2        Jun 14, 2013
3        Mar 26, 2013
4        Mar 25, 2013
6        Nov 22, 2013
             ...
15563    Aug 24, 2002
15581     Aug 4, 2002
15586     Jul 1, 2002
15594    Oct 30, 2017
15610    Jan 30, 2017
Name: date, Length: 3823, dtype: object

In [53]:
results_df['name'].drop_duplicates().sort_values().isnull().drop_duplicates()

4867    False
Name: name, dtype: bool

In [18]:
results_df['name'].drop_duplicates().sort_values()

4867                          #IDARB
14494                #KILLALLZOMBIES
15352                       .detuned
7703         .hack//G.U. Last Recode
8889     .hack//G.U. vol. 1//Rebirth
                    ...
8618                  oOo: Ascension
6858                            rain
14270    theHunter: Call of the Wild
8292                    uDraw Studio
15528                            xXx
Name: name, Length: 10451, dtype: object

In [61]:
results_df['date'].apply(lambda x: datetime.strptime(x, '%b %d, %Y').strftime('%Y-%m-%d')).sort_values()

3217    2000-01-12
3266    2000-01-14
5238    2000-01-26
1414    2000-01-31
5210    2000-01-31
           ...
5678    2018-10-23
262     2018-10-23
9881    2018-10-26
200     2018-10-26
201     2018-10-26
Name: date, Length: 15647, dtype: object

In [62]:
results_df['date'] = results_df['date'].apply(lambda x: datetime.strptime(x, '%b %d, %Y').strftime('%Y-%m-%d'))

In [29]:
#results_df.metascore.drop_duplicates().
## finally this is not going to be deleted because the tbd scores in userscores represent that some games still are not evaluated and they are new games sometimes
results_df = results_df[results_df['userscore'] != 'tbd']

In [68]:
results_df[results_df['userscore'] == 'tbd'].sort_values(by='date').tail(20)

,metascore,name,console,userscore,date
11951,64,Track Lab,PS4,tbd,2018-08-21
12109,63,All-Star Fruit Racing,Switch,tbd,2018-08-21
9943,67,The King's Bird,PC,tbd,2018-08-23
12313,62,HYPERGUN,PC,tbd,2018-08-23
7177,74,Flood of Light,Switch,tbd,2018-08-23
12433,62,Haunted Dungeons: Hyakki Castle,Switch,tbd,2018-08-30
9951,66,The VideoKid,Switch,tbd,2018-08-30
8625,70,God Wars The Complete Legend,Switch,tbd,2018-09-04
12425,62,Ninjin: Clash of Carrots,PS4,tbd,2018-09-04
9856,69,V-Rally 4,XONE,tbd,2018-09-11
5615,77,Megaquarium,PC,tbd,2018-09-13
5657,76,Capcom Beat 'Em Up Bundle,XONE,tbd,2018-09-18
12486,61,Downward Spiral: Horus Station,PS4,tbd,2018-09-18
12238,63,Blind,PS4,tbd,2018-09-18
8580,71,Capcom Beat 'Em Up Bundle,PS4,tbd,2018-09-18
13365,55,Hover,Switch,tbd,2018-09-20
7191,74,Deep Sky Derelicts,PC,tbd,2018-09-26
8607,71,Space Hulk: Tactics,XONE,tbd,2018-10-09
5623,77,Joggernauts,Switch,tbd,2018-10-11
13366,54,SINNER: Sacrifice for Redemption,Switch,tbd,2018-10-18

In [89]:
results_df = results_df[results_df['date'] > '2017-01-01']

In [90]:
results_df[results_df['date'] > '2017-01-01'].console.drop_duplicates()

200       XONE
201        PS4
204     Switch
214         PC
349        3DS
357       WIIU
2446      VITA
Name: console, dtype: object

In [91]:
results_df[(results_df['date'] > '2017-01-01') & (results_df['console'] == 'WIIU')]

,metascore,name,console,userscore,date
357,96,The Legend of Zelda: Breath of the Wild,WIIU,8.2,2017-03-03

### The top 10 best games for each console/company.

In [133]:
results_df_1 = results_df.sort_values(by=['console','metascore'], ascending = False).groupby(by=['console','company']).head(10)

In [139]:
results_df_1.head(30)

,metascore,name,console,userscore,date,company
0,98,Red Dead Redemption 2,XONE,5.9,2018-10-26,Microsoft
3,94,Celeste,XONE,6.4,2018-01-26,Microsoft
5,93,Divinity: Original Sin II - Definitive Edition,XONE,7.5,2018-08-31,Microsoft
6,92,Forza Horizon 4,XONE,7.7,2018-09-28,Microsoft
94,92,What Remains of Edith Finch,XONE,7.4,2017-07-19,Microsoft
12,91,Dead Cells,XONE,8,2018-08-07,Microsoft
17,90,NieR: Automata - Become as Gods Edition,XONE,9,2018-06-26,Microsoft
18,90,Monster Hunter: World,XONE,7.2,2018-01-26,Microsoft
116,89,Injustice 2,XONE,8.2,2017-05-16,Microsoft
29,88,The Banner Saga 3,XONE,7.8,2018-07-26,Microsoft
91,96,The Legend of Zelda: Breath of the Wild,WIIU,8.2,2017-03-03,Nintendo
328,83,Hakuoki: Kyoto Winds,VITA,7.3,2017-05-16,Sony
546,80,Danganronpa V3: Killing Harmony,VITA,7.6,2017-09-26,Sony
721,78,Mary Skelter: Nightmares,VITA,8.7,2017-09-19,Sony
734,78,Atelier Shallie Plus: Alchemists of the Dusk Sea,VITA,7.7,2017-01-17,Sony
739,78,Bad Apple Wars,VITA,7.6,2017-10-13,Sony
686,75,Hakuoki: Edo Blossoms,VITA,5,2018-03-13,Sony
964,75,A Rose in the Twilight,VITA,7.9,2017-04-11,Sony
996,74,Tokyo Xanadu,VITA,7.9,2017-06-30,Sony
1113,74,Collar x Malice,VITA,8.2,2017-07-28,Sony
1774,63,Operation Babel: New Tokyo Legacy,VITA,4,2017-05-16,Sony
77,97,The Legend of Zelda: Breath of the Wild,Switch,8.5,2017-03-03,Nintendo
90,97,Super Mario Odyssey,Switch,8.9,2017-10-27,Nintendo
4,93,Undertale,Switch,8.1,2018-09-18,Nintendo
7,92,Celeste,Switch,8.3,2018-01-25,Nintendo
9,92,Bayonetta 2,Switch,8.4,2018-02-16,Nintendo
97,92,Mario Kart 8 Deluxe,Switch,8.6,2017-04-28,Nintendo
10,91,INSIDE,Switch,8.2,2018-06-28,Nintendo
11,91,Sonic Mania Plus,Switch,8.8,2018-07-17,Nintendo
98,91,SteamWorld Heist: Ultimate Edition,Switch,8.4,2017-12-28,Nintendo

In [123]:
results_df_1[results_df_1['console'] == '3DS']

,metascore,name,console,userscore,date,company
1136,73,Chicken Wiggle,3DS,6.6,2017-08-17,Nintendo
1528,69,Hey! Pikmin,3DS,6.4,2017-07-28,Nintendo
1100,74,Story of Seasons: Trio of Towns,3DS,8,2017-02-28,Nintendo
317,84,Pokemon Ultra Moon,3DS,9.1,2017-11-17,Nintendo
926,76,Ever Oasis,3DS,8.1,2017-06-23,Nintendo
1870,56,Cooking Mama: Sweet Shop,3DS,5,2017-05-16,Nintendo
704,79,Monster Hunter Stories,3DS,8,2017-09-08,Nintendo
1777,62,River City: Knights of Justice,3DS,7.6,2017-06-20,Nintendo
886,73,Luigi's Mansion,3DS,8.7,2018-10-12,Nintendo
398,81,Fire Emblem Echoes: Shadows of Valentia,3DS,8.6,2017-05-19,Nintendo

In [115]:
results_df.groupby(by=['company','name']).head(10)

,metascore,name,console,userscore,date,company
0,98,Red Dead Redemption 2,XONE,5.9,2018-10-26,Microsoft
1,97,Red Dead Redemption 2,PS4,7.7,2018-10-26,Sony
2,94,God of War,PS4,9.2,2018-04-20,Sony
3,94,Celeste,XONE,6.4,2018-01-26,Microsoft
4,93,Undertale,Switch,8.1,2018-09-18,Nintendo
...,...,...,...,...,...,...
1933,38,Touhou Kobuto V: Burst Battle,Switch,4.6,2017-10-10,Nintendo
1934,38,Randall,PS4,2.1,2017-06-06,Sony
1935,36,Tokyo Tattoo Girls,VITA,5.4,2017-11-14,Sony
1936,26,Road Rage,PS4,2.5,2017-11-14,Sony
1937,17,Vroom in the Night Sky,Switch,3.1,2017-04-05,Nintendo